.logo {
  display: block;
  @include block-size(px-to-rem(80px), px-to-rem(80px));
  @include font('Dorsa', px-to-rem(34px), px-to-rem(80px), $main-color-text);
  margin: auto;
  background-color: #fff;
  border-radius: 100%;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: px-to-rem(768px)){
    @include block-size(px-to-rem(100px), px-to-rem(100px));
    font-size: px-to-rem(44px);
    line-height: px-to-rem(100px);
  }
  @media (min-width: px-to-rem(1200px)){
    @include block-size(px-to-rem(138px), px-to-rem(138px));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  px-to-rem(60px);
    line-height: px-to-rem(138px);
  }
}