@media (min-width: 75rem) {
  .gallery {
    padding-top: 5.625rem;
    padding-right: 3.75rem;
    padding-bottom: 6.375rem;
    padding-left: 3.75rem;
  }
  .gallery__image {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 2.125rem;
  }
  .gallery__image--tab-display {
    display: block;
  }
  .gallery__image--sixth {
    margin-bottom: 2.125rem;
  }
  .gallery__image--desktop-mb {
    margin-bottom: 0px;
  }
}