@media (min-width: 48rem) {
  /*Gallery*/
  .gallery-images>.row [class*="col-"] {
    margin-bottom: 2.5rem;
  }
  .gallery-images>.row [class*="col-"]:nth-of-type(6) {
    margin-bottom: 2.5rem;
  }
  .gallery-images>.row [class*="col-"]:nth-of-type(n+7) {
    display: block;
    margin-bottom: 0px;
  }
  .gallery-images>.row [class*="col-"]:nth-of-type(n+9) {
    display: none;
  }
}