.address {
  flex-basis: 30%;
}

.address-table {
  width: 100%;
}

.address-table:first-of-type {
  margin-bottom: 3.25rem;
}

.table-caption {
  width: 76%;
  font-family: var(--font-family-text);
  font-size: 0.875rem;
  color: #666565;
}

.table-text {
  font-family: var(--font-family-text);
  font-size: 0.813rem;
  color: #666565;
}

.tel {
  display: block;
  text-decoration: none;
  text-align: right;
  font-family: var(--font-family-text);
  font-size: 0.813rem;
  color: #666565;
}

.table-email {
  color: #fa7e7e;
}