.header {
  flex-grow: 0;
  padding-top: 5rem;
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 30%;
  list-style: none;
}

.menu-item {
  position: relative;
}

.menu-link {
  text-decoration: none;
  font-family: var(--title-font-family);
  font-size: 1.75rem;
  line-height: 3.5rem;
  color: #fff;
  text-transform: uppercase;
}

.menu-link:hover {
  color: var(--main-blue-color-text);
}