.list-menu {
  list-style: none;
}

.item {
  float: left;
  position: relative;
  margin-right: 54px;
  font-family: "Pathway Gothic One";
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
}

.item:nth-child(3) {
  margin-right: 30%;
}

.item:last-child {
  margin-right: 0;
}

.link-menu {
  text-decoration: none;
  font-family: "Pathway Gothic One";
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
}

.link-menu:hover {
  color: #263555;
}