*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 64rem;
  margin: auto;
  background-color: #fff;
}