.tours {
  padding: 6.25rem 3.625rem 7.8rem;
  display: flex;
}

.tour-content {
  flex-basis: 73%;
}

.tour-forms {
  flex-basis: 23%;
}

.tour-title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-family: var(--title-font-family);
  text-transform: uppercase;
  color: var(--main-blue-color-text);
}

.tour-text {
  margin-bottom: 0.75rem;
  font-size: 0.625rem;
  font-family: var(--font-family-text);
  color: #4e5050;
}

.select {
  width: 100%;
  border: 1px solid #d4d0d0;
  background-color: #fcfafa;
  font-size: 0.625rem;
  font-family: var(--font-family-text);
  color: #868f8f;
  line-height: 1.25rem;
}

.tour-form>.select {
  margin-bottom: 0.25rem;
}

.tour-field {
  display: block;
  width: 100%;
  min-height: 2.5rem;
  margin-bottom: 1.125rem;
  border: 1px solid #d1cccc;
  background-color: #e3e2e2;
  font-size: 0.625rem;
  font-family: var(--font-family-text);
  line-height: 1.25rem;
  color: #912AF1;
}

.tour-but {
  border: 1px solid #ded8d7;
  padding: 0 0.75rem;
  background-color: #faf6fb;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  line-height: 1.125rem;
  font-family: var(--font-family-subtitle);
  color: var(--main-blue-color-text);
}

.tour-form>p {
  color: #38afe5;
}