.gallery {
  padding: 96px 60px;
}

.gallery-title {
  margin-bottom: 46px;
  font-family: 'Pathway Gothic One';
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  color: #263555;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-img {
  margin-bottom: 40px;
}

.gallery-img:nth-of-type(n+7) {
  margin-bottom: 0px;
}