.button {
  display: block;
  @include padding(0, px-to-rem(12px), 0, px-to-rem(12px));
  border: 1px solid #c2bcbd;
  border-radius: px-to-rem(4px);
  background-color: #fcf5f7;
  @include font($font-family-text, px-to-rem(12px),1.5, #000);
  text-decoration: none;
}