.contact-title {
  margin-bottom: px-to-rem(24px);
}

.col-12 {
  margin-bottom: px-to-rem(46px);
  &:last-of-type {
    margin-bottom: 0;
  }
  @media (min-width: px-to-rem(1200px)) {
    margin-bottom: 0;
  }
}

.col-xl-3 {
  @media (min-width: px-to-rem(1200px)) {
    &:first-of-type {
      order: 3;
    }
    &:nth-of-type(2) {
      order: 2;
    }
  }
}


//Map
.map-image {
  width: 100%;
}
