.address {
  @include flex();
  @media (min-width: px-to-rem(768px)) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: px-to-rem(58px);
  }
}

.address-table {
  flex-basis: 48%;
  @media (min-width: px-to-rem(768px)) {
    &:first-of-type {
      margin-bottom: px-to-rem(50px);
    }
  }
}

.table-caption {
  @include font($font-family-text, px-to-rem(14px), 1.5, #666565);
  text-align: left;
 }

.table-text {
  @include font($font-family-text, px-to-rem(13px), 1.5, #666565);
}

.address-tel {
  display: inline-block;
  text-decoration: none;
  @include font($font-family-text, px-to-rem(13px), 1.5, #666565);
  text-align: right;
}

.table-email {
  color: #fa7e7e;
}