.section {
  padding: 1rem 0;
}

.section__title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.gallery__img {
  height: 200px;
  margin-bottom: 0.5rem;
}

.gallery__img--lastmb {
  margin-bottom: 0;
}