.footer-box {
  width: 100%;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  background-color: #30455b;
}

.footer-box__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.footer-box__item {
  flex-basis: 30%;
  font-size: 0.875rem;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  line-height: 2;
  color: #ebecee;
}

.footer-box__contacts {
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
  font-family: var(--font-family-secondary);
  color: #ebecee;
}

.footer-box__inner {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.footer-box__date {
  margin-left: 1rem;
  font-size: 0.625rem;
}

.footer-box__date--telephone::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 0.25rem;
  vertical-align: middle;
  background: url('../../images/contacts.png') -46px -10px;
}

.footer-box__date--email::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 0.25rem;
  vertical-align: middle;
  background: url('../../images/contacts.png') -10px -10px;
}


/*Social icons*/
.social {
  padding: 1.3rem 0 1rem;
  display: flex;
  justify-content: center;
}

.social__link {
  display: block;
}

.social__icon {
  width: 1.625rem;
  height: 1.625rem;
}

.social__link--hover:hover {
  transform: scale(1.5);
}

.footer__signature {
  font-size: 0.625rem;
  font-family: var(--font-family-text);
  text-align: center;
  color: #ecedee;
}